.banner-container{width:429px;min-height:220px;background-color:#e07929;text-align:left;color:#fff;padding-top:50px;font-size:xx-large;font-family:Arial,Helvetica,sans-serif;padding-left:35px}.bbva-complexReset{margin:0;padding:0 0 10px 0;font-size:12px;text-align:left}