@import url(../css/css2/common.css);
#pageNavigation ul{margin-left:-3px}#pageNavigation li{padding:0 3px 0 3px}#pageNavigation a{font-weight:400}
.blankPanelHead{
    margin-bottom: -12px;
}
.panelFooter{
    margin-top: -12px;
}

input.formButton:disabled, input.formButton[disabled]{
    background: rgb(187 187 187 / 51%) none !important;
    border-radius: 5px !important;
    margin-bottom: 5px !important;
    color: #969696 !important;
    cursor: not-allowed !important;
}
