
.formTextPointer{
    font-size: 11px;
}
.subText{
    font-size: 10px !important;
}


.sub{
    display: flex;
    flex-direction: row;
}
.underSub{
    padding-left: 15px;
    display: flex;
    flex-direction: row;
}
.underSub > label{
    padding-right: 10px;
}

input.formButton:disabled, input.formButton[disabled]{
    background: rgb(187 187 187 / 51%) none !important;
    border-radius: 5px !important;
    margin-bottom: 5px !important;
    color: #969696 !important;
    cursor: not-allowed !important;
}
